.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.container h1 {
  color: rgb(110, 110, 110);
}

.container > p {
  margin-top: 4rem;
  font-weight: 600;
}

.simulationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 45%;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
}

.simulationContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.simulationContainer input {
  width: 80%;
  height: 2.5rem;
  margin: 4px 0;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 4px;
  outline: none;
  padding: 1rem;
}

.simulationContainer select {
  width: 80%;
  height: 2.5rem;
  margin: 4px 0;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 4px;
  background-color: white;
  outline: none;
}

.simulationContainer button {
  width: 80%;
  height: 2.5rem;
  margin: 12px 0;
  background-color: rgb(255, 166, 0);
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: 600;
}

.loanContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 45%;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
}

.loanContainer button {
  height: 2.5rem;
  margin: 12px 0;
  background-color: rgb(54, 163, 32);
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: 600;
}

.loanContainer hr {
  width: 100%;
  color: rgb(141, 141, 141);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row > section {
  margin: 8px 0;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
